html
    head
        meta(charset="utf-8")
        meta(http-quiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="view-port", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="description", content="#{__('在线可视化体验 k 均值聚类分析算法.')}")
        title #{__('K 均值聚类算法可视化')}
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="stylesheet", type="text/css", href="/semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/handsontable/dist/handsontable.full.min.css")
        style(type="text/css").
            .cmd {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                background-color: #202020;
                border: 4px solid silver;
                border-radius: 5px;
                box-shadow: 2px 2px 3px #6e6e6e;
                color: #e2e2e2;
                display: block;
                font: 1em 'andale mono', 'lucida console', monospace;
                line-height: 1em;
                overflow: auto;
                padding: 15px;
            }

            .auto-wrap {
                word-wrap: normal;
                white-space: pre-wrap;
            }

            .hard.auto-wrap {
                word-wrap: break-word;
            }

body
    div(ng-app="kMeansModule", ng-controller="kMeansCtrl")
        include partial/nav
        div.ui.two.column.grid
            div.ui.column
                include partial/dash
            div.ui.column
                include partial/k-means
        include partial/footer
    div
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/semantic/dist/semantic.min.js")
        script(src="/bower_components/Flot/jquery.flot.js")
        script(src="/bower_components/Flot/jquery.flot.navigate.js")
        script(src="/bower_components/Flot/jquery.flot.symbol.js")
        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
        script(src="/bower_components/angular-translate/angular-translate.min.js")
        script(src="/locales/index.js")
        script(src="/scripts/kMeansModule.js")
        script(src="/bower_components/handsontable/dist/handsontable.full.min.js")
        script(type="text/javascript").