div#mycanvas.cmd(style="padding: 0px; box-sizing: border-box; image-rendering: -webkit-optimize-contrast !important; width: 100%; min-height: 450px;", tabindex="0")

div.hard.auto-wrap.cmd {{clusteringResult}}

div.hard.auto-wrap.cmd {{current}}