div#mycanvas.cmd(style="padding: 0px; box-sizing: border-box; image-rendering: -webkit-optimize-contrast !important; width: 100%; min-height: 450px;", tabindex="0")

h5 &nbsp;#{__('聚类结果')}
div.hard.auto-wrap.cmd {{clusteringResult}}

h5 &nbsp;#{__('实时过程数据')}
div.hard.auto-wrap.cmd {{current}}