div.ui.purple.inverted.menu
    a.active.item #{__('K 均值聚类算法可视化')}
    a.item(href="//zizhujy.com", target="_blank") #{__('叽歪')}
    div.right.menu
        a.item(href="#{otherLocaleLink}") #{__(otherLocale)}